<div class="container">
    <div class="realm-container-wrapper">
        <div class="realm-container">
            <div class="bottom-container">
                <div class="text">
                    <strong>Realms</strong>
                    <p>
                        Each Realm will access same user database. You can single 
                        sign on and get access to all the realms
                    </p>
                </div>
                <button mat-button class="button-blue">Create Realm</button>
            </div>
        </div>
    </div>
    <div class="middle-container">
        <h4>Your realms</h4>
    </div>
    <div class="grid-view" *ngFor="let realm of realms">
        <div class="grid-item">
            
        </div>
    </div>
</div>